@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Anonymous Pro', monospace;
    font-family: 'Barlow', sans-serif;
}

a,
li {
    list-style: none;
    text-decoration: none;

}



/* nav qismi  */

.list {
    display: flex;
    align-items: center;
    /* gap: 55px; */
    justify-content: space-between;
    


}

.list-item {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    /* width: 150px; */


}

.icons {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}


.graf {
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: space-around;
}

.so {
    font-size: 35px;
    width: 270px;
    margin-left: 10px;
    text-align: left;
}

.i_span {
    font-size: 20px;
}

.nav-under {
    background-color: #F0F0F4;
    width: 100%;
    padding: 15px 15px 8px;

}

.nav_ul_list>a {
    text-decoration: none;
    color: #2F3035;
    font-family: 'Anonymous Pro', monospace;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;


}

.nav_ul_list :hover {
    color: aqua;
    transition: 0.5s ease-in-out;
    /* background-color: bisque; */

}

/* header   qismi */

.graf_two {
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    width: 100%;
    padding: 0px;

}

.card_btn {
    background: #1C62CD;
    color: #FFFFFF;
    height: 30px;
    width: 90px;
    text-transform: uppercase;
    border: none;
    font-size: 12px;
}

.card_on {
    display: flex;
    justify-content: space-between;

}

.card_p {
    font-family: Barlow;
    font-size: 18px;
    font-weight: 700;
    text-align: right;
    color: #1C62CD;
}

.cars_span {
    color: #C4C4C4;
    font-size: 14px;
}

.card_under {
    background-color: #F0F0F4;
    text-align: center;


}

.card_under_text_one {
    font-size: 18px;
    font-weight: 400;
    color: #2F3035;

}

.card_under_text_two {
    font-size: 18px;
    font-weight: 700;
    color: #1C62CD;
}

.list_item_header {
    width: 204px;
    height: 47px;
    text-align: left;
    padding-top: 10px;

}

.list_item_header:hover {
    background-color: #F0F0F4;
    font-size: 15px;
    font-weight: 700;
    color: #2F3035;
    border-radius: 4px;

}

.list_header {
    display: flex;
    color: black;
}

.header_inp {
    width: 85%;
    height: 50px;
    padding-left: 10px;
    background-color: #F0F0F4;
    border-radius: 5px 0px 0px 5px;
    border: none;
    outline: none;
}

.inp_btn {
    height: 50px;
    width: 145px;
    border-radius: 3px;
    text-transform: uppercase;
    border: none;
    background-color: #1C62CD;
    color: white;
}

/* section qismi  */

.graf_three {
    border: 1px solid #CDCDCD;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 30px;
}

.text_img {
    display: flex;
    gap: 30px;
}

.graf_three>a {
    text-decoration: none;
    color: #C4C4C4;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.shn {
    color: #1C62CD;
}

.list-section {
    display: flex;
    align-items: center;
    gap: 30px;

}

.box_section {
    height: 403px;
    width: 271px;
    border-radius: 3px;
    border: 1px solid #CDCDCD;

}

.box_section>i {
    display: block;
    text-align: right;

}

.box_p {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    text-align: center;

}

.box_span {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: #2F3035;


}

.box_btn {
    height: 40px;
    width: 60px;
    left: 585px;
    top: 1775px;
    border-radius: [object Object]px;
    border-radius: 10px 0px 0px 0px;
    font-size: 22px;
    color: white;
    background: #1C62CD;
    border: none;
    margin: 40px 0px 0px 210px;
    text-align: center;

}

.box_section>i {
    font-size: 24px;
    padding: 10px;
}

.div_flex {
    display: flex;
    align-items: center;
    gap: 50px;
}

.box_section {
    text-align: center;
}

.box_btn_o {
    height: 40px;
    width: 60px;
    left: 585px;
    top: 1775px;
    border-radius: [object Object]px;
    border-radius: 10px 0px 0px 0px;
    font-size: 22px;
    color: white;
    background: #1C62CD;
    border: none;
    margin: 12px 0px 0px 210px;
    text-align: center;
}

.section_carusel {
    height: 50px;
    width: 252px;
    border-radius: 0px;
    background: #F0F0F4;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    color: #2F3035;
    border: none;


}

.cars_img {
    display: flex;
    align-items: center;
}

.reklama {
    background-color: #1C62CD;
    padding: 15px;
}

.rec_h {
    color: white;
}

.rec_btn {
    height: 47px;
    width: 220px;
    border: none;
    text-align: center;

}

.rec_btn>a {
    color: #2F3035;
    font-size: 15px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: right;
    text-decoration: none;

}



.box_span_p {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    margin: 25px;

}

.box_btn_two {
    color: white;
    height: 25px;
    width: 63px;
    background-color: #1C62CD;
    border: none;
    margin: 0px 300px 0px 00px;


}



/* footer qismi */


footer {
    background-color: #F0F0F4;
    width: 100%;
    /* height: 232px; */
}


.f_inp {
    background-color: white;
    border: none;
    width: 201px;
    height: 33px;
    padding-left: 5px;
    outline: none;
}


.f_span {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

}

.f_btn {
    height: 33px;
    width: 100px;
    left: 560px;
    top: 2942px;
    border-radius: 0px;
    background-color: #1C62CD;
    border: none;
    color: white;

}

.f-item>a{
    text-decoration: none;
    color: #2F3035;
}

.f_graf{
    display: flex;
    align-items: center;
}

.iconss{
    font-size: 35px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.iconss i{
    color: black;
}

.pd{
    padding: 32px 0px;


}



/* responsive start */



@media (max-width:575px) {
    .graf{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0px;
    }

    .list{
        flex-wrap: wrap;
        gap: 10px;
    }

    .graf_two{
        justify-content: center;
    }
    .list_item_header{
        height: 75px;
        width: 304px;
        text-align: center;
    }
    .header_inp{
        margin-top: 15px;
        width: 65%;
        margin-left: 20px;
        height: 40px;
    }

    .inp_btn{
        width: 80px;
        height: 40px;
        font-size: 15px;

    }
    .list-item{
        justify-content: center;
        text-align: left;
        font-size: 12px;
    }
    .i_span{
        font-size: 10px;
    }
    .so{
        font-size: 15px;
        width: 183px;
        text-align: center;

    }
    .graf>img{
        width: 54px;
    }
    .nav_ul_list>a{
        font-size: 15px;
        gap: 0px;
    }
    .icons{
        gap: 10px;
    }
   .cards{
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
   }
   .list-section{
    gap: -1px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
   }
   .box_section {

   }

   .f_inp{
    width: 230px;
    margin-bottom: 15px;
   }
   .footer{
    /* height: 100%; */
   }
   .box_btn_two {
    color: white;
    height: 25px;
    width: 63px;
    background-color: #1C62CD;
    border: none;
    margin: auto;
    


}

    
}